@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1E3F66;
  --primary-dark: #4f9c55;
  --secondary-color: #528AAE;
  --secondary-dark:#e3d002;
  --overlay: rgba(0,0,0,.7);
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color: #528AAE;
  font-style: italic;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #151414;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  background-color: var(--primary-color);
}

/* hoverover tooltip */
.hover-over {
  font-weight: bold;
  position: relative;
  color: #3490dc; /* Text color */
  transition: color 0.3s;
}

.hover-over:hover {
  color: #2779bd; /* Hovered text color */
}

.hover-over span {
  opacity: 0;
  visibility: hidden;
  background-color: #333; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  bottom: -24px; /* Adjust the spacing from the anchor */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s, visibility 0.3s;
}

.hover-over:hover span {
  opacity: 1;
  visibility: visible;
}

.bg-color {
  color: #272725;
}
.logo-header-text {
  color: #528AAE !important;
}

.scrollable-content {
  max-height: 100%;
  overflow-y: auto;
}

/*Navbar*/
.nav-header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: #f5f5f5;
}

.nav-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.nav-header .nav-menu a {
  color: #040404;
}


/* .nav-header .navbar img {
  width: 250px;
  height: auto;
} */

.nav-header .nav-menu {
  display: flex;
}

.nav-header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.nav-header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.nav-item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

@media screen and (max-width:940px) {
  .nav-header {
      max-width: 100%;
      background-color: rgb(252, 252, 252);
      display: hidden;

  }
  

  .nav-header .navbar {
      max-width: 100%;
  }
   
  .hamburger {
      display: block;
      color: #528AAE;
  }

  .nav-menu {
      position: fixed;
      left: -100%;
      top: 90px;
      flex-direction: column;
      background-color: rgb(250, 247, 247);
      width: 100%;
      height: 90vh;
      z-index: 999;
      text-align: center;
      transition: .3s;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0;
  }

  .nav-header .navbar img {
      width: 150px;
  }
}


/*Content*/

.content {
  background-color: #f8f8f8;
  /* margin: auto; */
  padding: 8rem 1rem 0 1rem;
  /* width: 100%; */
}


.content h2 {
  font-size: 3rem;
}

/*Footer*/

.footer {
  width: 100%;
  background-color: #f8f4f4;
  color: #0a0909;
  padding: 3rem 1rem;
}

.footer .footer-container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

.footer a {
  color: #090909;
  display: inline-block;
}

.footer li a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.bottom {
  text-align: center;
  padding-top: 3rem;
}

/* .line {
  margin-bottom: 1rem;
} */


.small-image {
  max-width: 100px; /* Adjust the size as needed */
}

.md\:large-image {
  max-width: 200px; /* Adjust the size as needed */
}

.lg\:larger-image {
  max-width: 300px; /* Adjust the size as needed */
}






